**/node_modules/
**/.env
!**/.env.example

**/.dev-server*.log
**/*.log

dist/assets/*.map
**/coverage/
**/generated/

**/cypress/downloads/
**/cypress/screenshots/
**/cypress/videos/
**/playwright-report/
**/test-results/
