# Dependencias
**/node_modules/

# Variaveis de ambiente
**/.env
!**/.env.example

# Logs
**/*.log
**/.dev-server*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build, cache e cobertura
**/dist/assets/*.map
**/.cache/
**/.vite/
**/coverage/
**/generated/

# Cypress
**/cypress/downloads/
**/cypress/screenshots/
**/cypress/videos/

# Playwright
**/playwright-report/
**/blob-report/
**/test-results/
**/.playwright/
